@page "/about"

<div style="margin:20px">
    <Space Direction="DirectionVHType.Vertical">
        <SpaceItem>
            <Title Level="2">本项目基于Blazor框架和ant-design-blazor开源项目组件开发</Title>
        </SpaceItem>
        <SpaceItem>
            <Text>ASP.NET Core Blazor官网: <a href="https://docs.microsoft.com/zh-cn/aspnet/core/blazor">https://docs.microsoft.com/zh-cn/aspnet/core/blazor</a></Text>
        </SpaceItem>
        <SpaceItem>
            <Text>ant-design-blazor官网: <a href="https://antblazor.com/zh-CN/">https://antblazor.com/zh-CN/</a></Text>
        </SpaceItem>
        <SpaceItem>
            <Text Keyboard>
                如有其他问题，请访问<a href="https://github.com/LeaFrock">Github</a>
            </Text>
        </SpaceItem>
    </Space>
</div>